@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: CursedTimer;
}

body {
    margin: 100px;
    background-color: #a6d8de;
}

h3 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: #1B244A;
    height: 500px;
    width: 700px;
    margin: 0 auto;
    border: 5px solid whitesmoke;
    border-radius: 10px;
}

.scores {
    display: flex;
    margin-bottom: 50px;
}

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

.score-box {
    background-color: black;
    width: 155px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.score {
    font-size: 100px;
    font-family: CursedTimer;
    color: #F94F6D;
    padding-top: 12px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin-top: 30px;
}

.inc-button {
    height: 45px;
    width: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: CursedTimer;
    padding-top: 4px;
}

.inc-button:hover {
    background-color: #263269;
    border: 2px solid #c4cee8;
}

#new-game {
    width: 180px;
    margin: 0 auto;
    padding: 8px 16px;
    font-family: CursedTimer;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#new-game:hover {
    background-color: #263269;
    border: 2px solid #c4cee8;
}